  <h1>Abuelita Sordita</h1>
    <p>Tu Abuelita dice: "<span id="grandma_says"></span>"</p>


  <form action="/aux" method="post" id="form1">
    Dile algo a tu abuelita:
    <br>
    <input type="text" name="user_input">
    <input type="submit" value="Dilo!">
  </form>
