.container {
  margin: 0 auto;
  width: 750px;
}

header {
  background-color: black;
}

#logo {
  display: block;
  margin: 0 auto;
}

.main-title {
  text-align: center;
}

.izquierda {
  float: left;
  width: 49%;
  height: 250px;

}
.derecha {
  float: right;
  width: 49%;
  height: 250px;

}

#basico {
  float:left;
  width: 30%;
}

#pro {
  float:left;
  width: 30%;
}

#platinum {
  float:left;
  width: 30%;
}

#erseccion {
  margin-bottom: 20px;
}

img {
  margin-top: 40px;
  margin-bottom: 10px;
}

h3 {
  margin-top: 30px;
}

h2 {
  position: relative;
  top:20px;
}

.footer {
  position:relative;
  top:50px;
}